{% extends 'base.html' %}

{% load humanize %}

{% block title %} - Pending transactions{% endblock %}

{% block content %}

  <h5 class="p-2">Pending transactions</h5>

  {% if not test_net %}
  <div class="card-deck mb-0 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        By donating, you help the development of the explorer and cover maintenance costs:
          <a href="{% url 'address-detail' 11834991772770337952 %}">BURST-D372-C2DU-HMKK-CQLHA</a> |
          <a href="{% url 'asset-detail' 14686983107863035136 %}">Buy BurstScan ❤️ Asset</a>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <div class="d-flex flex-column flex-md-row">
          <small class="mb-2 mr-md-auto text-muted">
            A total of {{ txs_pending|length|intcomma }} pending transactions found
          </small>
        </div>
        {% include "txs_pending/txs_pendings.html" with show_head=True %}
      </div>
    </div>
  </div>

{% endblock %}
