{% load humanize %}
{% load burst_tags %}

<div class="table-responsive">
  <table class="table table-hover small table-sm">
  {% if show_head %}
    <thead>
      <tr>
        <th scope="col">Timestamp</th>
        <th scope="col">Type</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Value</th>
        <th scope="col">Txn Fee</th>
      </tr>
    </thead>
  {% endif %}
    <tbody>
    {% for tx in txs_pending %}
      <tr>
        <td class="text-nowrap">{{ tx.timestamp|naturaltime }}</td>
        <td>{{ tx.tx_name }}</td>
        <td class="text-nowrap">
          {% include "account_link.html" with account_id=tx.sender account_name=tx.sender_name %}
        </td>
        <td class="text-nowrap">
          {% if tx.recipient or tx.multiout %}
            {% if tx.recipient %}
              {% if tx.recipient_exists %}
                {% include "account_link.html" with account_id=tx.recipient account_name=tx.recipient_name %}
              {% else %}
                {{ tx.recipient|num2rs }}
              {% endif %}
            {% elif tx.type == 0 and tx.subtype == 1 or tx.type == 0 and tx.subtype == 2 %}
{#              refact it#}
              <span class="text-info" title="
{% if tx.subtype == 1 %}
  {% for r in tx.attachment.recipients %}
{{ r.0|num2rs }} - {{ r.1|burst_amount|rounding:4|intcomma }}
  {% endfor %}
{% elif tx.subtype == 2 %}
  {% with tx.amountNQT|div:tx.multiout as amount %}
    {% for r in tx.attachment.recipients %}
{{ r|num2rs }} - {{ amount|burst_amount|rounding:4|intcomma }}
    {% endfor %}
  {% endwith %}
{% endif %}">{{ tx.multiout }} recipients</span>
            {% endif %}
          {% else %}
            {{ tx.tx_name }}
          {% endif %}
        </td>
        <td class="text-nowrap" title="Amount">{{ tx.amountNQT|burst_amount|rounding:4|intcomma }} Burst</td>
        <td class="text-nowrap" title="Fee">{{ tx.feeNQT|burst_amount|rounding:4|intcomma }} Burst</td>
      </tr>
    {% empty %}
      <div class="text-secondary" style="display: flex;flex-direction: column;justify-content: center;height: 90%;">
        <h2>No pending transactions</h2>
      </div>
    {% endfor %}
    </tbody>
  </table>
</div>
