interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wallet.burstscan.net/burst?requestType=getUnconfirmedTransactions
  response:
    body:
      string: '{"unconfirmedTransactions":[],"requestProcessingTime":0}'
    headers:
      Content-Type:
      - text/plain;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price?include_market_cap=true&include_24hr_change=true&ids=burst&vs_currencies=usd,btc
  response:
    body:
      string: '{"burst":{"usd":0.00415069,"usd_market_cap":8739379.20890017,"usd_24h_change":9.008927273704623,"btc":3.603e-07,"btc_market_cap":758.3334772362065,"btc_24h_change":8.807075018521083}}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8c1fcd7494a37de5a288783fa2858a5b"
    status:
      code: 200
      message: OK
version: 1
