{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5 class="p-2">Multiout
    {% if 'block' in request.GET %}
      <small class="text-muted">For block #<a href="{% url 'block-detail' request.GET.block %}">{{ request.GET.block }}</a></small>
    {% elif 'a' in request.GET %}
      <small class="text-muted">For address #<a href="{% url 'address-detail' request.GET.a %}">{{ request.GET.a }}</a></small>
    {% endif %}
  </h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="d-flex flex-column flex-md-row align-items-center">
          <small class="my-0 mr-md-auto text-muted">
            {% if 'block' not in request.GET and 'a' not in request.GET %}
              More than > {{ mos_cnt|intcomma }} transactions found<br>
              <small>(Showing the last 100k records)</small>
            {% else %}
              A total of
              {% if mos %}
                {{ paginator.count|intcomma }}
              {% else %}
                0
              {% endif %}
              transactions found
            {% endif %}
          </small>
          {% include "paginator.html" %}
        </div>

        {% include "mos/list_table.html" with filtered_account=request.GET.a %}

        {% include "paginator.html" %}

      </div>
    </div>
  </div>

{% endblock %}
