interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price?include_market_cap=true&include_24hr_change=true&ids=burst&vs_currencies=usd,btc
  response:
    body:
      string: '{"burst":{"usd":0.0041513,"usd_market_cap":8728175.378742721,"usd_24h_change":-2.1668517108488983,"btc":3.603e-07,"btc_market_cap":757.4517804393946,"btc_24h_change":-2.5242541519295063}}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5343ca380353ae727ecdd5d18ea2db21"
    status:
      code: 200
      message: OK
version: 1
