[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
django-debug-toolbar = "*"

[packages]
django = "==2.2.1"
dj-database-url = "==0.5.0"
mysqlclient = "==1.4.2.post1"

[requires]
python_version = "3.6"
