[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
django-debug-toolbar = "==2.1"
freezegun = "==0.3.12"
vcrpy = "==4.0.2"
ipython = "*"

[packages]
celery = {version = "==4.4.0",extras = ["redis"]}
django = "==2.2.9"
django-cache-memoize = "==0.1.6"
django-cors-headers = "==3.2.1"
django-redis = "==4.11.0"
djangorestframework = "==3.11.0"
jsonschema = "==3.2.0"
mysqlclient = "==1.4.6"
python-dotenv = "==0.10.3"
python-redis-lock = {version = "==3.4.0",extras = ["django"]}
requests = "==2.22.0"
sentry-sdk = "==0.13.5"
simplejson = "==3.17.0"

[requires]
python_version = "3.8"
