interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price?include_market_cap=true&include_24hr_change=true&ids=burst&vs_currencies=usd,btc
  response:
    body:
      string: '{"burst":{"usd":0.00533808,"usd_market_cap":11131908.013570584,"usd_24h_change":-4.392684830224021,"btc":6.847e-07,"btc_market_cap":1427.825391713576,"btc_24h_change":-1.5638812279453689}}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"be9e4d243d8accd72f727f4caa0117ea"
    status:
      code: 200
      message: OK
version: 1
