{% extends 'base.html' %}

{% block content %}
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm bg-primary">
      <div class="card-body">
        <form class="form-inline" action="{% url 'search' %}">
          <input class="form-control" style="width: 90%;" type="text" name="q" placeholder="Search by Address / Block / Transaction / Asset / Marketplace / AT" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        Last height: {{ last_height }}
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Latest Blocks</h5>
      </div>
      <div class="card-body">
        {% include "home/blocks_list.html" %}
      </div>
      <div class="card-footer">
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'blocks' %}">View all blocks</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Transactions</h5>
      </div>
      <div class="card-body">
        {% include "home/transactions_list.html" %}
      </div>
      <div class="card-footer">
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'txs' %}">View All Transactions</a>
      </div>
    </div>
  </div>

  <script>
    setTimeout(function(){
       document.location.reload();
    }, 10000);
  </script>
{% endblock %}
