{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block description %}
Latest block: {% if blocks %}{%  with blocks|first as last_block %}{{ last_block.height }}{% endwith %}{% endif %}
Network Difficult: {% if blocks %}{%  with blocks|first as last_block %}{{ last_block.base_target|net_diff|floatformat:2|intcomma }} TB{% endwith %}{% endif %}
{% endblock %}

{% block revision %}{{ last_block.height }}{% endblock %}

{% block content %}
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm bg-primary">
      <div class="card-body">
        <form class="form-inline input-group" action="{% url 'search' %}">
          <input class="form-control" type="text" name="q" placeholder="Search by Address / Block / Transaction / Asset / Marketplace / AT / Peer" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% if not test_net %}
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <div class="row mx-gutters-md-1">
          <div class="col-md-6 col-lg-4 u-ver-divider u-ver-divider--none-md">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0">Burst price</h6>
                <span class="text-info small">
                  ${{ burst_info.exchange.price_usd|rounding:4|intcomma }} ({{ burst_info.exchange.percent_change_24h|stringformat:"+d" }}%) @ {{ burst_info.exchange.price_btc|floatformat:-8 }} BTC
                </span>
              </div>
            </div>
            <hr class="hr-space-lg">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0">Market cap</h6>
                <span class="text-info small">${{ burst_info.exchange.market_cap_usd|floatformat:0|intcomma }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 u-ver-divider u-ver-divider--none-lg">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0">Latest block</h6>
                {% if blocks %}
                  {%  with blocks|first as last_block %}
                    <span class="text-info small">{{ last_block.height }}</span>
                  {% endwith %}
                {% else %}
                  -
                {% endif %}
              </div>
            </div>
            <hr class="hr-space-lg">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0">Network Difficult</h6>
                {% if blocks %}
                  {%  with blocks|first as last_block %}
                    <span class="text-info small">{{ last_block.base_target|net_diff|floatformat:2|intcomma }} TB</span>
                  {% endwith %}
                {% else %}
                  -
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        By donating, you help the development of the explorer and cover maintenance costs:
          <a href="{% url 'address-detail' 11834991772770337952 %}">BURST-D372-C2DU-HMKK-CQLHA</a> |
          <a href="{% url 'asset-detail' 14686983107863035136 %}">BurstScan ❤️ Asset</a>
      </div>
    </div>
  </div>
{% endif %}

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        {% include "txs_pending/txs_pendings.html" %}
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'txs-pending' %}">View all pending transactions</a>
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Latest Blocks</h5>
      </div>
      <div class="card-body">
        {% include "home/blocks_list.html" %}
      </div>
      <div class="card-footer">
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'blocks' %}">View all blocks</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Transactions</h5>
      </div>
      <div class="card-body">
        {% include "home/transactions_list.html" %}
      </div>
      <div class="card-footer">
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'txs' %}">View all transactions</a>
      </div>
    </div>
  </div>

  <script>
    setTimeout(function(){
       document.location.reload();
    }, 10000);
  </script>
{% endblock %}
