{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'favicon.ico' %}" rel="icon">
    <title>BurstCoin {% if test_net %}TestNet {% endif %}Blockchain Explorer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=6">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <a href="/"><img alt="BURST" src="{% static 'img/burst-logo.svg' %}" height="32px"></a>
          <h5 class="my-0 mr-md-auto font-weight-normal text-danger">Explorer{% if test_net %} TestNet{% endif %}</h5>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Home</a>
            <a class="p-2 text-dark" href="{% url 'blocks' %}">Blocks</a>
            <a class="p-2 text-dark" href="{% url 'txs' %}">Transactions</a>
            <a class="p-2 text-dark" href="{% url 'mos' %}">MultiOut</a>
            <a class="p-2 text-dark" href="{% url 'assets' %}">Assets</a>
            <a class="p-2 text-dark" href="{% url 'mps' %}">Marketplace</a>
            <a class="p-2 text-dark" href="{% url 'ats' %}">ATs</a>
            <a class="p-2 text-dark" href="{% url 'accounts' %}">Top Accounts</a>
            <a class="p-2 text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="https://burst-coin.org" target="_blank">Burstcoin Site</a>
              <a class="dropdown-item" href="https://burstforum.net" target="_blank">Burstcoin Forum</a>
              <a class="dropdown-item" href="https://burstcoin.ist" target="_blank">Burstcoin News</a>
              <a class="dropdown-item" href="https://www.reddit.com/r/burstcoin/" target="_blank">Burstcoin Reddit</a>
              <a class="dropdown-item" href="https://github.com/burst-apps-team/" target="_blank">Burstcoin Github</a>
              <a class="dropdown-item" href="https://github.com/llybin/burst_explorer" target="_blank">Explorer Github</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://discord.gg/G8N2QPa" target="_blank">Discord Community</a>
              <a class="dropdown-item" href="https://t.me/burstcoin" target="_blank">Telegram Community</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://telegram.me/ExchangeRatesBot" target="_blank">Telegram ExchangeRatesBot</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ wallet_url }}" target="_blank">Online {% if test_net %}TestNet {% endif %}Wallet</a>
            </div>
          </nav>
          {% if request.path != '/' %}
          <form class="form-inline mt-2 mt-md-0 col-xs-4" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search by Address / Block ..." aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" name="submit" value="Search">Search</button>
          </form>
          {% endif %}
        </div>
      </header>

      <main role="main">
        <div class="container">
          {% if submit == 'Search' %}
            <div class="alert alert-danger" role="alert">
              Nothing found.
            </div>
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
      </main>
      <div id="push"></div>
    </div>

    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        Developed by <a href="https://github.com/llybin/burst_explorer" target="_blank">Lev Lybin</a>
        <br>
        {% if not test_net %}
          Donations:
          <a href="{% url 'address-detail' 11834991772770337952 %}">BURST-D372-C2DU-HMKK-CQLHA</a> |
          <a href="{% url 'asset-detail' 14686983107863035136 %}">BurstScan ❤️ Asset</a>
        {% endif %}
        <br>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% if google_tracking_id %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracking_id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ google_tracking_id }}');
      </script>
    {% endif %}
  </body>

</html>
