{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/favicon.ico" rel="icon">
    <title>Burst Blockchain Explorer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body class="d-flex flex-column h-100">

    <header>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a href="/"><img alt="BURST" src="/static/img/burst-logo.svg" height="32px"></a>
        <h5 class="my-0 mr-md-auto font-weight-normal">Explorer</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Home</a>
          <a class="p-2 text-dark" href="/blocks">Blocks</a>
          <a class="p-2 text-dark" href="/txs">Transactions</a>
          <a class="p-2 text-dark" href="#">Assets</a>
          <a class="p-2 text-dark" href="#">Marketplace</a>
          <a class="p-2 text-dark" href="#">ATs</a>
          <a class="p-2 text-dark" href="#">Network</a>
          <a class="p-2 text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="https://burst-coin.org" target="_blank">Burstcoin Site</a>
            <a class="dropdown-item" href="https://burstforum.net" target="_blank">Burstcoin Forum</a>
            <a class="dropdown-item" href="https://burstcoin.ist" target="_blank">Burstcoin News</a>
            <a class="dropdown-item" href="https://www.reddit.com/r/burstcoin/" target="_blank">Burstcoin Reddit</a>
            <a class="dropdown-item" href="https://github.com/burst-apps-team/" target="_blank">Burstcoin Github</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://discord.gg/G8N2QPa" target="_blank">Discord Community</a>
            <a class="dropdown-item" href="https://t.me/burstcoin" target="_blank">Telegram Community</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://wallet.burst.devtrue.net" target="_blank">Online Wallet</a>
          </div>
        </nav>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span>Developed by Lev Lybin. Donations: <b>BURST-D372-C2DU-HMKK-CQLHA</b></span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

</html>
