{% extends 'base.html' %}

{% block content %}
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm bg-primary">
      <div class="card-body">
        <form class="form-inline" action="{% url 'search' %}">
          <input class="form-control" style="width: 90%;" type="text" name="q" placeholder="Search by Address / Block / Transaction / Asset / Marketplace / AT" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        ???
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Latest Blocks</h4>
      </div>
      <div class="card-body">
        ?
      </div>
      <div class="card-footer">
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'blocks' %}">View all blocks</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Transactions</h4>
      </div>
      <div class="card-body">
        ?
      </div>
      <div class="card-footer">
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'txs' %}">View All Transactions</a>
      </div>
    </div>
  </div>
{% endblock %}
