{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5>Market Place Goods #{{ good.id }} details</h5>

  <table class="table small table-sm">
    <tbody>
    <tr>
      <th>ID</th>
      <td>{{ good.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ good.name }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ good.description }}</td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td>{{ good.quantity|intcomma }}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{ good.price|burst_amount|intcomma }} Burst</td>
    </tr>
    <tr>
      <th>Seller</th>
      <td>
        {% include "account_link.html" with account=seller oneline=True %}
      </td>
    </tr>
    <tr>
      <th>Block</th>
      <td><a href="{% url 'block-detail' good.height %}">{{ good.height }}</a></td>
    </tr>
    </tbody>
  </table>
{% endblock %}
