interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coinmarketcap.com/v1/ticker/burst/
  response:
    body:
      string: "[\n    {\n        \"id\": \"burst\", \n        \"name\": \"Burst\",
        \n        \"symbol\": \"BURST\", \n        \"rank\": \"437\", \n        \"price_usd\":
        \"0.002973448\", \n        \"price_btc\": \"0.00000038\", \n        \"24h_volume_usd\":
        \"38229.8232334\", \n        \"market_cap_usd\": \"6078590.0\", \n        \"available_supply\":
        \"2044290023.0\", \n        \"total_supply\": \"2044290023.0\", \n        \"max_supply\":
        \"2158812800.0\", \n        \"percent_change_1h\": \"-3.81\", \n        \"percent_change_24h\":
        \"-5.14\", \n        \"percent_change_7d\": \"-4.53\", \n        \"last_updated\":
        \"1559812981\"\n    }\n]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
