{% extends 'base.html' %}

{% load humanize %}

{% block scripts %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {
      'packages':['geochart'],
      // Note: you will need to get a mapsApiKey for your project.
      // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
      'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var data = google.visualization.arrayToDataTable([
        ['Country', 'Peers'],
        {% for country in countries %}['{{ country.country_code }}', {{ country.cnt }}],{% endfor %}
      ]);

      var options = {};

      var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

      chart.draw(data, options);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Version', 'Count'],
        {% for version in versions %}['{{ version.version }}', {{ version.cnt }}],{% endfor %}
      ]);

      var options = {
        title: 'Versions (Online)'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart-versions'));

      chart.draw(data, options);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Version', 'Count'],
        {% for state in states %}['{{ state.state }}', {{ state.cnt }}],{% endfor %}
      ]);

      var options = {
        title: 'All known peers (last 30 days)'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart-states'));

      chart.draw(data, options);
    }
  </script>

  <script>
    setTimeout(function(){
       document.location.reload();
    }, 30000);
  </script>
{% endblock %}

{% block content %}

  <h5 class="p-2">Public Peers</h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <p>Online now: {{ online_now }} <span class="small">(checked {{ last_check.modified_at|naturaltime }})</span></p>

        <div id="regions_div"></div>

        <div id="piechart-versions"></div>

        <div id="piechart-states"></div>

      </div>
    </div>
  </div>

{% endblock %}
