{% extends 'base.html' %}

{% load humanize %}

{% block scripts %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {
      'packages':['geochart'],
      // Note: you will need to get a mapsApiKey for your project.
      // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
      'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var data = google.visualization.arrayToDataTable([
        ['Country', 'Popularity'],
        {% for country in countries %}['{{ country.country_code }}', {{ country.cnt }}],{% endfor %}
      ]);

      var options = {};

      var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

      chart.draw(data, options);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Version', 'Count'],
        {% for version in versions %}['{{ version.version }}', {{ version.cnt }}],{% endfor %}
      ]);

      var options = {
        title: 'Versions'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>
{% endblock %}

{% block content %}

  <h5 class="p-2">Peers</h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <p>Online now: {{ online_now }} <span class="small">(checked {{ last_check.modified_at|naturaltime }})</span></p>

        <div id="regions_div"></div>

        <div id="piechart"></div>

        <div class="d-flex flex-column flex-md-row align-items-center">
          <small class="my-0 mr-md-auto text-muted">
              A total of {{ paginator.count|intcomma }} peers found
          </small>
          {% include "paginator.html" %}
        </div>

        <div class="table-responsive">
          <table class="table table-hover small table-sm">
            <thead>
            <tr>
              <th scope="col">IP</th>
              <th scope="col">Country</th>
              <th scope="col">Version</th>
              <th scope="col">Announced Address</th>
              <th scope="col">Platform</th>
              <th scope="col">Application</th>
              <th scope="col">Height</th>
              <th scope="col">Availability</th>
              <th scope="col">State</th>
            </tr>
            </thead>
            <tbody>
            {% for peer in peers %}
              <tr>
                <td><a href="{% url 'peer-detail' peer.ip %}">{{ peer.ip }}</a></td>
                <td>{{ peer.country_code }}</td>
                <td>{{ peer.version }}</td>
                <td>{{ peer.announced_address }}</td>
                <td>{{ peer.platform }}</td>
                <td>{{ peer.application }}</td>
                <td>{{ peer.height }}</td>
                <td>{{ peer.availability|floatformat:2 }} %</td>
                <td>{{ peer.get_state_display }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        {% include "paginator.html" %}

      </div>
    </div>
  </div>

{% endblock %}
