{% load humanize %}
{% load burst_tags %}

<div class="table-responsive">
  <table class="table table-hover small table-sm">
    <thead>
    <tr>
      <th scope="col">Asset id</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unconfirmed quantity</th>
      <th scope="col">Asset share</th>
      <th scope="col">Since block</th>
    </tr>
    </thead>
    <tbody>
    {% for asset in assets %}
      <tr>
        <td><a href="{% url 'asset-detail' asset.asset_id %}">{{ asset.asset_id|truncatechars:10 }}</a></td>
        <td><a href="{% url 'asset-detail' asset.asset_id %}">{{ asset.name }}</a></td>
        <td>
          {% if asset.decimals == 0 %}
            {{ asset.quantity|intcomma }}
          {% else %}
            {{ asset.quantity|div_decimals:asset.decimals|intcomma }}
          {% endif %}
        </td>
        <td>
          {% if asset.decimals == 0 %}
            {{ asset.unconfirmed_quantity|intcomma }}
          {% else %}
            {{ asset.unconfirmed_quantity|div_decimals:asset.decimals|intcomma }}
          {% endif %}
        </td>
        <td>
          {{ asset.quantity|div:asset.total_quantity|mul:100|floatformat:2|intcomma }} %
        </td>
        <td><a href="{% url 'block-detail' asset.height %}">{{ asset.height }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
