{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <div>
    <h5>Account #{{ address.id }}</h5>

    <table class="table small table-sm">
      <tbody>
      <tr>
        <th>Name</th>
        <td>{% if address.name %}{{ address.name }}{% endif %}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{% if address.description %}{{ address.description }}{% endif %}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ address.id|num2rs }}</td>
      </tr>
      <tr>
        <th>Public Key</th>
        <td class="text-monospace">{{ address.public_key|bin2hex }}</td>
      </tr>
      <tr>
        <th>Balance</th>
        <td>{{ address.balance|burst_amount|intcomma }} Burst</td>
      </tr>
      <tr>
        <th>Pool</th>
        <td>
          {% if pool_id and pool_id != address.id %}
            {% include "account_link.html" with account_id=pool_id account_name=pool_name oneline=True %}
          {% else %}
            <span class="text-success">Solo Miner</span>
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>

    <nav>
      <div class="nav nav-tabs small" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-transactions-tab" data-toggle="tab" href="#nav-transactions" role="tab" aria-controls="nav-transactions" aria-selected="true">{{ txs_cnt|intcomma }} Transactions</a>
        <a class="nav-item nav-link" id="nav-blocks-tab" data-toggle="tab" href="#nav-blocks" role="tab" aria-controls="nav-blocks" aria-selected="false">? Blocks</a>
        <a class="nav-item nav-link" id="nav-multiout-tab" data-toggle="tab" href="#nav-multiout" role="tab" aria-controls="nav-multiout" aria-selected="false">? MultiOut</a>
        <a class="nav-item nav-link" id="nav-asset-hold-tab" data-toggle="tab" href="#nav-asset-hold" role="tab" aria-controls="nav-asset-hold" aria-selected="false">? Asset holdings</a>
        <a class="nav-item nav-link" id="nav-asset-txs-tab" data-toggle="tab" href="#nav-asset-txs" role="tab" aria-controls="nav-asset-txs" aria-selected="false">? Asset transactions</a>
        <a class="nav-item nav-link" id="nav-pool-tab" data-toggle="tab" href="#nav-pool" role="tab" aria-controls="nav-pool" aria-selected="false">? Pool members</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab">
        <br>
        <p class="small">Latest {{ txs.count }} from a total of <a href="{% url 'txs' %}?a={{ address.id }}">{{ txs_cnt|intcomma }}</a> transactions</p>
        {% include "txs/list_table.html" %}
      </div>

      <div class="tab-pane fade" id="nav-blocks" role="tabpanel" aria-labelledby="nav-blocks-tab">...</div>
      <div class="tab-pane fade" id="nav-multiout" role="tabpanel" aria-labelledby="nav-multiout-tab">...</div>
      <div class="tab-pane fade" id="nav-asset-hold" role="tabpanel" aria-labelledby="nav-asset-hold-tab">...</div>
      <div class="tab-pane fade" id="nav-asset-txs" role="tabpanel" aria-labelledby="nav-asset-txs`-tab">...</div>
      <div class="tab-pane fade" id="nav-pool" role="tabpanel" aria-labelledby="nav-pool`-tab">...</div>
    </div>

  </div>

{% endblock %}
