{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block scripts %}
  <script>jQuery('#qr_code').qrcode({text: "BURST-{{ address.id|num2rs }}", width: 240, height: 240});</script>
{% endblock %}

{% block content %}
  <!-- QRModal -->
  <div class="modal fade" id="QRModal" tabindex="-1" role="dialog" aria-labelledby="QRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-break small" id="QRModalLabel">BURST-{{ address.id|num2rs }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div id="qr_code" title="BURST-{{ address.id|num2rs }}"></div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="p-2">Account #{{ address.id }}
    <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle copy-btn" href="#" data-clipboard-text="BURST-{{ address.id|num2rs }}"><i class="far fa-copy"></i></a>
    <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle" href="#" data-toggle="modal" data-target="#QRModal" title="Click to view QR Code"><i class="fa fa-qrcode"></i></a>
  </h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table small table-sm">
            <tbody>
            <tr>
              <th>Address</th>
              <th>BURST-{{ address.id|num2rs }}</th>
            </tr>
            <tr>
              <th style="width: 160px;">Name</th>
              <td style="word-wrap: break-word; max-width: 250px">{% if address.name %}{{ address.name }}{% endif %}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td style="word-wrap: break-word; max-width: 250px">{% if address.description %}{{ address.description }}{% endif %}</td>
            </tr>
            <tr>
              <th>Balance</th>
              <td>{{ address.balance|burst_amount|intcomma }} Burst <span class="text-info">(${{ address.balance|burst_amount|in_usd|floatformat:2|intcomma }} @ ${{ burst_info.exchange.price_usd|rounding:4|intcomma }}/Burst)</span></td>
            </tr>
            <tr>
              <th>Public Key</th>
              <td style="word-wrap: break-word; max-width: 250px">
                {% if address.key_height %}
                  <span class="text-monospace">{{ address.public_key|bin2hex }}</span> in <a href="{% url 'block-detail' address.key_height %}">{{ address.key_height }}</a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Creation Block</th>
              <td><a href="{% url 'block-detail' address.creation_height %}">{{ address.creation_height }}</a></td>
            </tr>
            <tr>
              <th>Pool</th>
              <td>
                {% if address.pool_id and address.pool_id != address.id %}
                  {% include "account_link.html" with account_id=address.pool_id account_name=address.pool_name oneline=True %}
                {% else %}
                  <span class="text-success">Solo Miner</span>
                {% endif %}
              </td>
            </tr>
            </tbody>
          </table>

          <nav>
            <div class="nav nav-tabs small" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-transactions-tab" data-toggle="tab" href="#nav-transactions" role="tab" aria-controls="nav-transactions" aria-selected="true">{{ txs_cnt|intcomma }} Transactions</a>
              <a class="nav-item nav-link" id="nav-multiout-tab" data-toggle="tab" href="#nav-multiout" role="tab" aria-controls="nav-multiout" aria-selected="false">{{ mos_cnt|intcomma }} MultiOut</a>
              <a class="nav-item nav-link" id="nav-blocks-tab" data-toggle="tab" href="#nav-blocks" role="tab" aria-controls="nav-blocks" aria-selected="false">{{ mined_blocks_cnt|intcomma }} Blocks</a>
              <a class="nav-item nav-link" id="nav-asset-hold-tab" data-toggle="tab" href="#nav-asset-hold" role="tab" aria-controls="nav-asset-hold" aria-selected="false">{{ assets_cnt|intcomma }} Asset holdings</a>
              <a class="nav-item nav-link" id="nav-asset-trades-tab" data-toggle="tab" href="#nav-asset-trades" role="tab" aria-controls="nav-asset-trades" aria-selected="false">{{ assets_trades_cnt|intcomma }} Asset trades</a>
              <a class="nav-item nav-link" id="nav-asset-transfer-tab" data-toggle="tab" href="#nav-asset-transfer" role="tab" aria-controls="nav-asset-transfer" aria-selected="false">{{ assets_transfers_cnt|intcomma }} Asset transfers</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab">
              <p class="small p-1" style="margin-top: 10px">
                Latest {{ txs.count }} from a total of
                {% if txs_cnt > 0 %}
                  <a href="{% url 'txs' %}?a={{ address.id }}">{{ txs_cnt|intcomma }}</a>
                {% else %}
                  0
                {% endif %}
                transactions
              </p>
              {% include "txs/list_table.html" with filtered_account=address.id %}
            </div>

            <div class="tab-pane fade" id="nav-multiout" role="tabpanel" aria-labelledby="nav-multiout-tab">
              <p class="small p-1" style="margin-top: 10px">
                Latest {{ mos.count }} from a total of
                {% if mos_cnt > 0 %}
                  <a href="{% url 'mos' %}?a={{ address.id }}">{{ mos_cnt|intcomma }}</a>
                {% else %}
                  0
                {% endif %}
                transactions
              </p>
              {% include "mos/list_table.html" with filtered_account=address.id %}
            </div>

            <div class="tab-pane fade" id="nav-blocks" role="tabpanel" aria-labelledby="nav-blocks-tab">
              <p class="small p-1" style="margin-top: 10px">
                Latest {{ mined_blocks.count }} from a total of
                {% if mined_blocks_cnt > 0 %}
                  <a href="{% url 'blocks' %}?m={{ address.id }}">{{ mined_blocks_cnt|intcomma }}</a>
                {% else %}
                  0
                {% endif %}
                mined blocks
              </p>
              {% include "accounts/mined_blocks.html" %}
            </div>

            <div class="tab-pane fade" id="nav-asset-hold" role="tabpanel" aria-labelledby="nav-asset-hold-tab">
              <p class="small p-1" style="margin-top: 10px">
                {{ assets_cnt|intcomma }} assets found
              </p>
              {% include "accounts/assets.html" %}
            </div>

            <div class="tab-pane fade" id="nav-asset-trades" role="tabpanel" aria-labelledby="nav-asset-trades-tab">
              <p class="small p-1" style="margin-top: 10px">
                Latest {{ assets_trades.count }} from a total of
                {% if assets_trades_cnt > 0 %}
                  {{ assets_trades_cnt|intcomma }}
                {% else %}
                  0
                {% endif %}
                assets trades found
              </p>
              {% include "assets/trades_list.html" with filtered_account=address.id %}
            </div>

            <div class="tab-pane fade" id="nav-asset-transfer" role="tabpanel" aria-labelledby="nav-asset-transfer-tab">
              <p class="small p-1" style="margin-top: 10px">
                Latest {{ assets_transfers.count }} from a total of
                {% if assets_transfers_cnt > 0 %}
                  {{ assets_transfers_cnt|intcomma }}
                {% else %}
                  0
                {% endif %}
                assets transfers found
              </p>
              {% include "assets/transfers_list.html" with filtered_account=address.id %}
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

{% endblock %}
