{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block title %} - Top accounts{% endblock %}

{% block content %}

  <h5 class="p-2">Top accounts by Burst balance</h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="d-flex flex-column flex-md-row align-items-center">
          <small class="my-0 mr-md-auto text-muted">{{ paginator.count|intcomma }} accounts found</small>
          {% include "paginator.html" %}
        </div>

        <div class="table-responsive">
          <table class="table table-hover small table-sm">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Name</th>
              <th scope="col">Percent</th>
              <th scope="col">Balance</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
              <tr>
                <td>
                  {% rank_row forloop.counter %}
                </td>
                <td class="text-nowrap">
                  {% include "account_link.html" with account_id=account.id account_name=account.name %}
                </td>
                <td>{{ account.balance|percent:balance__sum|rounding:2|intcomma }} %</td>
                <td class="text-nowrap">{{ account.balance|burst_amount|rounding:4|intcomma }} Burst</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        {% include "paginator.html" %}

      </div>
    </div>
  </div>

{% endblock %}
