{% load humanize %}
{% load burst_tags %}

  <table class="table table-hover small table-sm">
    <thead>
    <tr>
      <th scope="col">Block</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Reward</th>
    </tr>
    </thead>
    <tbody>
    {% for block in mined_blocks %}
      <tr>
        <td><a href="{% url 'block-detail' block.height %}">{{ block.height }}</a></td>
        <td>{{ block.timestamp|naturaltime }}</td>
        <td>{{ block|block_reward_fee|rounding:4|intcomma }} Burst</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
