{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5>Asset #{{ asset.id }} details</h5>
  <br>

  <table class="table small table-sm">
    <tbody>
    <tr>
      <th>ID</th>
      <td>{{ asset.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ asset.name }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ asset.description }}</td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td>{{ asset.quantity|intcomma }}</td>
    </tr>
    <tr>
      <th>Issuer</th>
      <td>
        {% include "account_link.html" with account_id=asset.account_id account_name=account_name oneline=True %}
      </td>
    </tr>
    <tr>
      <th>Block</th>
      <td><a href="{% url 'block-detail' asset.height %}">{{ asset.height }}</a></td>
    </tr>
    </tbody>
  </table>
{% endblock %}
