{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5 class="p-2">Asset #{{ asset.id }} details</h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table small table-sm">
            <tbody>
            <tr>
              <th style="width: 200px;">ID</th>
              <td>{{ asset.id }}</td>
            </tr>
            <tr>
              <th>Name</th>
              <td style="word-wrap: break-word; max-width: 250px">
                {{ asset.name }}
                {% if asset.id == 14686983107863035136 %}❤️{% endif %}
              </td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ asset.description }}</td>
            </tr>
            <tr>
              <th>Quantity</th>
              <td>
                {% if asset.decimals == 0 %}
                  {{ asset.quantity|intcomma }}
                {% else %}
                  {{ asset.quantity|div_decimals:asset.decimals|floatformat:0|intcomma }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Decimals</th>
              <td>{{ asset.decimals }}</td>
            </tr>
            <tr>
              <th>Issuer</th>
              <td>
                {% include "account_link.html" with account_id=asset.account_id account_name=account_name oneline=True %}
              </td>
            </tr>
            <tr>
              <th>Block</th>
              <td><a href="{% url 'block-detail' asset.height %}">{{ asset.height }}</a></td>
            </tr>
            </tbody>
          </table>

          <nav>
            <div class="nav nav-tabs small" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-asset-trades-tab" data-toggle="tab" href="#nav-asset-trades" role="tab" aria-controls="nav-asset-trades" aria-selected="false">{{ assets_trades_cnt|intcomma }} Asset trades</a>
              <a class="nav-item nav-link" id="nav-asset-transfer-tab" data-toggle="tab" href="#nav-asset-transfer" role="tab" aria-controls="nav-asset-transfer" aria-selected="false">{{ assets_transfers_cnt|intcomma }} Asset transfers</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-asset-trades" role="tabpanel" aria-labelledby="nav-asset-trades-tab">
              <p class="small p-1" style="margin-top: 10px">
                Latest {{ assets_trades.count }} from a total of
                {% if assets_trades_cnt > 0 %}
                  {{ assets_trades_cnt|intcomma }}
                {% else %}
                  0
                {% endif %}
                assets trades found
              </p>
              {% include "assets/trades_list.html" with filtered_account=address.id %}
            </div>

            <div class="tab-pane fade" id="nav-asset-transfer" role="tabpanel" aria-labelledby="nav-asset-transfer-tab">
              <p class="small p-1" style="margin-top: 10px">
                Latest {{ assets_transfers.count }} from a total of
                {% if assets_transfers_cnt > 0 %}
                  {{ assets_transfers_cnt|intcomma }}
                {% else %}
                  0
                {% endif %}
                assets transfers found
              </p>
              {% include "assets/transfers_list.html" with filtered_account=address.id %}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


{% endblock %}
