{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5 class="p-2">Asset Trades
    {% if assets_trades %}
      {% with assets_trades|first as asset %}
        <small class="text-muted">For asset <a href="{% url 'asset-detail' asset.asset_id %}">{{ asset.name }}</a></small>
      {% endwith %}
    {% endif %}
  </h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="d-flex flex-column flex-md-row align-items-center">
          <small class="my-0 mr-md-auto text-muted">
            More than > {{ assets_trades_cnt|intcomma }} trades found<br>
            <small>(Showing the last 100k records)</small>
          </small>
          {% include "paginator.html" %}
        </div>

        {% include "assets/trades_list.html" with asset_specific=1 %}

        {% include "paginator.html" %}

      </div>
    </div>
  </div>

{% endblock %}
