{% load humanize %}
{% load burst_tags %}

<div class="table-responsive">
  <table class="table table-hover small table-sm">
    <thead>
    <tr>
      {% if not asset_specific %}
        <th scope="col">Asset id</th>
        <th scope="col">Name</th>
      {% endif %}
      <th scope="col">Block</th>
      <th scope="col">Timestamp</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>
    {% for asset in assets_transfers %}
      <tr>
        {% if not asset_specific %}
          <td><a href="{% url 'asset-detail' asset.asset_id %}">{{ asset.asset_id|truncatechars:10 }}</a></td>
          <td class="text-nowrap"><a href="{% url 'asset-detail' asset.asset_id %}">{{ asset.name }}</a></td>
        {% endif %}
        <td><a href="{% url 'block-detail' asset.height %}">{{ asset.height }}</a></td>
        <td class="text-nowrap">{{ asset.timestamp|naturaltime }}</td>
        <td class="text-nowrap">
          {% include "account_link.html" with account_id=asset.sender_id account_name=asset.sender_name %}
        </td>
        <td class="text-nowrap">
          {% include "account_link.html" with account_id=asset.recipient_id account_name=asset.recipient_name %}
        </td>
        <td>
          {% if asset.decimals == 0 %}
            {{ asset.quantity|intcomma }}
          {% else %}
            {{ asset.quantity|div_decimals:asset.decimals|intcomma }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
