{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block title %} - Transaction #{{ tx.id }}{% endblock %}

{% block description %}
{{ tx|tx_type }}
{{ tx.amount|burst_amount|intcomma }} Burst
{% endblock %}

{% block content %}

  <h5 class="p-2">Transaction Details</h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table small table-sm">
            <tbody>
            <tr>
              <th style="width: 160px;">ID</th>
              <th>
                {{ tx.id }}
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle copy-btn px-1" href="#" data-clipboard-text="{{ tx.id }}"><i class="far fa-copy"></i></a>
              </th>
            </tr>
            <tr>
              <th>Height</th>
              <td>
                <a href="{% url 'block-detail' tx.block.height %}">{{ tx.block.height }}</a>
                {% include "block_confirmation.html" with blocks_confirm=tx.blocks_confirm %}
              </td>
            </tr>
            <tr>
              <th>Type</th>
              <td>{{ tx|tx_type }}</td>
            </tr>
            <tr>
              <th>Timestamp</th>
              <td>{{ tx.timestamp|naturaltime }} ({{ tx.timestamp|date:'Y-m-d H:i:s' }} UTC)</td>
            </tr>
            <tr>
              <th>From</th>
              <td>
                {% include "account_link.html" with account_id=tx.sender_id account_name=tx.sender_name oneline=True %}
              </td>
            </tr>
            <tr>
              <th>To</th>
              <td>
                {% include "recipient_link.html" with account_id=tx.recipient_id account_name=tx.recipient_name oneline=True %}
              </td>
            </tr>
            <tr>
              <th>Value</th>
              <td>{{ tx.amount|burst_amount|intcomma }} Burst <span class="text-info">(${{ tx.amount|burst_amount|in_usd|rounding:4|intcomma }})</span></td>
            </tr>
            <tr>
              <th>Transaction Fee</th>
              <td>{{ tx.fee|burst_amount|intcomma }} Burst <span class="text-info">(${{ tx.fee|burst_amount|in_usd|rounding:4|intcomma }})</span></td>
            </tr>
            <tr class="collapse show_more_info">
              <th style="min-width: 160px;">Version</th>
              <td>{{ tx.version }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Deadline</th>
              <td>{{ tx.deadline }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Block Timestamp</th>
              <td>{{ tx.block_timestamp|naturaltime }} ({{ tx.block_timestamp|date:'Y-m-d H:i:s' }} UTC)</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>EC Block ID</th>
              <td>{{ tx.ec_block_id }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>EC Block Height</th>
              <td>{{ tx.ec_block_height }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Has message</th>
              <td>{{ tx.has_message|yesno }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Has encrypted message</th>
              <td>{{ tx.has_encrypted_message|yesno }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Has Public Key Announcement</th>
              <td>{{ tx.has_public_key_announcement|yesno }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Has Encrypttoself Message</th>
              <td>{{ tx.has_encrypttoself_message|yesno }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Sender Public Key</th>
              <td class="text-monospace" style="word-wrap: break-word; max-width: 250px">{{ tx.sender_public_key|bin2hex }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Signature</th>
              <td class="text-monospace" style="word-wrap: break-word; max-width: 250px">{{ tx.signature|bin2hex }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th class=>Referenced Transaction Fullhash</th>
              <td class="text-monospace" style="word-wrap: break-word; max-width: 250px">{{ tx.referenced_transaction_fullhash|bin2hex }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Full Hash</th>
              <td class="text-monospace" style="word-wrap: break-word; max-width: 250px">{{ tx.full_hash|bin2hex }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Attachment</th>
              <td class="text-monospace">
                <textarea id="attachment" class="form-control" spellcheck="false" rows="5" disabled>{{ tx.attachment_bytes|bin2hex }}</textarea>
                <label for="attachment"></label>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <a data-toggle="collapse" data-target=".show_more_info" href="#">Show more details</a>

      </div>
    </div>
  </div>

{% endblock %}
