{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5>Transactions
    {% if 'block' in request.GET %}
      <small class="text-muted">For block #{% with txs|first as tx %}<a href="{% url 'block-detail' tx.height %}">{{ tx.height }}</a>{% endwith %}</small>
    {% elif 'a' in request.GET %}
      <small class="text-muted">For address #{% with txs|first as tx %}<a href="{% url 'address-detail' tx.sender_id %}">{{ tx.sender_id }}</a>{% endwith %}</small>
    {% endif %}
  </h5>

  <div class="d-flex flex-column flex-md-row align-items-center">
    <small class="my-0 mr-md-auto text-muted">{{ paginator.count|intcomma }} transactions found</small>
    {% include "paginator.html" %}
  </div>

  {% include "txs/list_table.html" %}

  {% include "paginator.html" %}

{% endblock %}
