{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5>Transactions
    {% if 'block' in request.GET %}
      <small class="text-muted">For block #{% with txs|first as tx %}{{ tx.block.height }}{% endwith %}</small>
    {% endif %}
  </h5>

  <div class="d-flex flex-column flex-md-row align-items-center">
    <small class="my-0 mr-md-auto text-muted">{{ paginator.count|intcomma }} transactions found</small>
    {% include "paginator.html" %}
  </div>

  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Txn id</th>
        <th scope="col">Block</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Type</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Value</th>
        <th scope="col">Txn Fee</th>
      </tr>
      </thead>
      <tbody>
      {% for tx in txs %}
        <tr>
          <td><a href="{% url 'tx-detail' tx.id %}">{{ tx.id }}</a></td>
          <td><a href="{% url 'block-detail' tx.block.height %}">{{ tx.block.height }}</a></td>
          <td>{{ tx.timestamp|date:'Y-m-d H:i:s' }}</td>
          <td>{{ tx|tx_type }}</td>
          <td><a href="{% url 'address-detail' tx.sender_id %}">{{ tx.sender_id|num2rs }}</a></td>
          <td>
            {% if tx.recipient_id %}
              <a href="{% url 'address-detail' tx.recipient_id %}">{{ tx.recipient_id|num2rs }}</a>
            {% elif tx.sender_id %}
              <a href="#">? recipients, see transaction details</a>
            {% endif %}
          </td>
          <td>{{ tx.amount|burst_amount|intcomma }} Burst</td>
          <td>{{ tx.fee|burst_amount|intcomma }} Burst</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% include "paginator.html" %}

{% endblock %}
