html {
    font-size: 14px;
}

@media (min-width: 1140px) {
    html {
        font-size: 16px;
    }
}

main > .container {
    padding: 5px 15px 0;
    max-width: 1140px;
}

body, html {
    height: 100%
}

.wrapper {
    height: 100%;
    margin: 0 auto -80px;
    min-height: 100%;
    background-color: #f8f9fa;
}

.table > tbody > tr:first-child > th,
.table > tbody > tr:first-child > td {
    border: none;
}

.no-border td, .no-border th {
    border: none;
}

#push {
    height: 80px
}

.table td, .table th {
    vertical-align: middle;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
