html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

main > .container {
    padding: 5px 15px 0;
    max-width: 960px;
}

body, html {
    height: 100%
}

.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
    min-height: 100%;
    background-color: #f8f9fa !important
}

#push {
    height: 150px
}

.table td, .table th {
    vertical-align: middle;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
