interactions:
- request:
    body: '{"requestType": "getInfo", "protocol": "B1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://wallet.burstscan.net:8123/burst
  response:
    body:
      string: '{"announcedAddress":"wallet.burstscan.net","application":"BRS","version":"v2.4.0","platform":"BURST-BTKF-8WT9-L98N-98JH2","shareAddress":true}'
    headers:
      Content-Type:
      - text/plain;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requestType": "getCumulativeDifficulty", "protocol": "B1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://wallet.burstscan.net:8123/burst
  response:
    body:
      string: '{"cumulativeDifficulty":"64770577730996744870","blockchainHeight":641103}'
    headers:
      Content-Type:
      - text/plain;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
