{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5 class="p-2">Block #{{ blk.height }} details</h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table small table-sm">
            <tbody>
            <tr>
              <th style="width: 200px;">Block Height</th>
              <td>
                <div class="d-flex flex-column flex-md-row align-items-center">
                  <span class="my-0">{{ blk.height }}</span>&nbsp;&nbsp;
                  <nav aria-label="Block navigation">
                    <ul class="pagination">
                      {% if blk.previous_block %}
                        <li class="page-item"><a class="page-link" href="{% url 'block-detail' blk.previous_block.height %}">Previous</a></li>
                      {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                      {% endif %}
                      {% if blk.next_block %}
                        <li class="page-item"><a class="page-link" href="{% url 'block-detail' blk.next_block.height %}">Next</a></li>
                      {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
              </td>
            </tr>
            <tr>
              <th>Timestamp</th>
              <td>{{ blk.timestamp|naturaltime }} ({{ blk.timestamp|date:'Y-m-d H:i:s' }} UTC)</td>
            </tr>
            <tr>
              <th>Transactions</th>
              <td>
                {% if block.txs_cnt > 0 %}
                  <a href="{% url 'txs' %}?block={{ blk.height }}">{{ block.txs_cnt|intcomma }} transactions</a>
                {% else %}
                  0 transactions
                {% endif %}
                in this block
              </td>
            </tr>
            <tr>
              <th>Total Amount</th>
              <td>{{ blk.total_amount|burst_amount|intcomma }} Burst</td>
            </tr>
            <tr>
              <th>Mined by</th>
              <td>
                {% include "account_link.html" with account_id=blk.generator_id account_name=blk.generator_name oneline=True %}
              </td>
            </tr>
            <tr>
              <th>Pool</th>
              <td>
                {% if blk.pool_id and blk.pool_id != blk.generator_id %}
                  {% include "account_link.html" with account_id=blk.pool_id account_name=blk.pool_name oneline=True %}
                {% else %}
                  <span class="text-success">Solo Miner</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Block Generation time</th>
              <td>{% block_generation_time blk %}</td>
            </tr>
            <tr>
              <th>Block Reward</th>
              <td>{{ blk|block_reward_fee|intcomma }} Burst ({{ blk|block_reward }} + {{ blk.total_fee|burst_amount|intcomma }})</td>
            </tr>
            <tr>
              <th>Size</th>
              <td>{{ blk.payload_length|filesizeformat }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th style="min-width: 200px;">Base Target</th>
              <td>{{ blk.base_target }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Version</th>
              <td>{{ blk.version }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Nonce</th>
              <td>{{ blk.nonce }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>ATs</th>
              <td>{{ blk.ats|bin2hex }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Cumulative Difficulty</th>
              <td class="text-monospace">{{ blk.cumulative_difficulty|bin2hex }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Generator Public Key</th>
              <td class="text-monospace" style="word-wrap: break-word; max-width: 250px">{{ blk.generator_public_key|bin2hex }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Generation Signature</th>
              <td class="text-monospace" style="word-wrap: break-word; max-width: 250px">{{ blk.generation_signature|bin2hex }}</td>
            </tr>
            <tr class="collapse show_more_info">
              <th>Block Signature</th>
              <td class="text-monospace" style="word-wrap: break-word; max-width: 250px">{{ blk.block_signature|bin2hex }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <a data-toggle="collapse" data-target=".show_more_info" href="#">Show more details</a>

      </div>
    </div>
  </div>

{% endblock %}
