{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}

  <h5>Blocks
    {% if 'm' in request.GET %}
      <small class="text-muted">For miner #{% with blocks|first as block %}<a href="{% url 'address-detail' block.generator_id %}">{{ block.generator_id }}</a>{% endwith %}</small>
    {% endif %}
  </h5>

  <div class="d-flex flex-column flex-md-row align-items-center">
    <small class="my-0 mr-md-auto text-muted">
      {% if blocks %}
        Block #{% with blocks|first as blk %}{{ blk.height }} to #{{ blk.height|sub:blocks.count|add:1 }}{% endwith %} (Total of {{ paginator.count|intcomma }} blocks)
      {% else %}
        0 blocks found
      {% endif %}
    </small>
    {% include "paginator.html" %}
  </div>

  <table class="table table-hover small table-sm">
    <thead>
    <tr>
      <th scope="col">Height</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Txn</th>
      <th scope="col">Sent</th>
      <th scope="col">Reward</th>
      <th scope="col">Size</th>
      <th scope="col">Miner</th>
      <th scope="col">Pool</th>
    </tr>
    </thead>
    <tbody>
    {% for block in blocks %}
      <tr>
        <td><a href="{% url 'block-detail' block.height %}">{{ block.height }}</a></td>
        <td>{{ block.timestamp|naturaltime }}</td>
        <td>
          {% if block.txs_cnt > 0 %}
            <a href="{% url 'txs' %}?block={{ block.height }}">{{ block.txs_cnt|intcomma }}</a>
          {% else %}
            0
          {% endif %}
        </td>
        <td>{{ block.total_amount|burst_amount|rounding:4|intcomma }} Burst</td>
        <td>{{ block|block_reward_fee|rounding:4|intcomma }} Burst</td>
        <td>{{ block.payload_length|filesizeformat }}</td>
        <td class="text-nowrap">
          {% include "account_link.html" with account_id=block.generator_id account_name=block.generator_name %}
        </td>
        <td class="text-nowrap">
          {% if block.pool_id and block.pool_id != block.generator_id %}
            {% include "account_link.html" with account_id=block.pool_id account_name=block.pool_name %}
          {% else %}
            <span class="text-info">Solo Miner</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include "paginator.html" %}

{% endblock %}
